body { 
    margin: 0; 
    background-color: rgb(16,12,60);
}

.navbar {
    position: relative; /* Fixes the navbar to the top-left corner */
    top: 0;
}

.links {
    margin: 10px;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.links:hover{
    color: grey;
}

.text{
    color: black;
    margin-left: 20px;
}
.container{
    margin-top: 3.5rem;
    background-color: antiquewhite;
    width: 65rem;
    border-radius: 25px;
    height: auto;
    border: solid 10px palegoldenrod;
    box-shadow: rgb(98, 90, 212) 0px 7px 29px 0px;
}

.imagestyle{
    border: solid 2.5px black;
    border-radius: 25px;
    height: 250px;
    width: 400px;
    margin-left: 10px;
}